@tailwind base;
@tailwind components;
@tailwind utilities;


/* about me base top */
.custom-shape-divider-top-1708400667 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1708400667 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 87px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1708400667 .shape-fill {
    fill: #FFFFFF;
}



/* about me base bottom */
.custom-shape-divider-bottom-1708400190 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1708400190 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1708400190 .shape-fill {
    fill: #FFFFFF;
}


/* hobbies  top */

.custom-shape-divider-top-1708400313 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1708400313 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1708400313 .shape-fill {
    fill: #FFFFFF;
}

/* hobbies down */
.custom-shape-divider-bottom-1708461604 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708461604 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.custom-shape-divider-bottom-1708461604 .shape-fill {
    fill: #FFFFFF;
}